<main>
    <section class="content mt-5">
        <h2>Ajouter un nouvel article</h2>
        <form class="bg-black text-light p-3 rounded-3 w-75 mx-auto mt-5 d-flex flex-column justify-content-center"
              action="create_article" method="post" enctype="multipart/form-data">
            <label class="form-label" for="title">Titre :</label><br>
            <input class="form-control" type="text" id="title" name="titre" required><br>

            <label class="form-label" for="chapo">Chapô :</label><br>
            <textarea class="form-control" id="chapo" name="chapo" required></textarea><br>

            <label class="form-label" for="content">Contenu :</label><br>
            <textarea class="form-control" id="content" name="content" required></textarea><br>

            <label class="form-label" for="image">Image (moins de 2mo) :</label><br>
            <input class="form-control" type="file" id="image" name="image" accept="image/*"><br>

            <label class="form-label" for="status">Status :</label><br>
            <select class="form-control" id="status" name="status" required>
                <option value="published">Publié</option>
                <option value="pending">En attente</option>
            </select><br>
            <input type="hidden" name="user_id" value="{{ app.session.get('user_id') ?? '' }}">
            <input class="btn btn-warning w-50 mx-auto" type="submit" value="Ajouter l'article">
        </form>
    </section>
</main>