<div class="success-message d-flex flex-column bg-success-mail mx-auto my-5">
    <div class="to-opacity w-100 h-100 d-flex flex-column justify-content-center align-items-center">
        <p class="big-title text-light">Bravo, votre message a bien été envoyé !</p>
        <a href="/" class="btn btn-dark">Retourner à l'accueil</a>
    </div>
</div>
{% include 'footer.twig' %}
