<footer class="col col-12 py-4 d-flex flex-column align-items-center bg-black">
    <a class="col col-12 text-center text-light" href="../assets/files/CV_Desaindes_Julien.pdf" target="_blank">Télécharger
        CV</a>
    <div class="col col-12 d-flex flex-column justify-content-center align-items-center">
        <a class="text-light" href="https://github.com/Judes77850" target="_blank">GitHub</a>
        <a class="text-light" href="https://www.linkedin.com/in/julien-desaindes/" target="_blank">LinkedIn</a>
    </div>
</footer>
</body>
