<main>
    <section class="content my-5 d-flex row">
        <div class="col col-6">
            <h1>t'es passé sous un tunnel ?</h1>
            <p>Je t'entends plus ça grésille ...</p>
            <a class="my-5 btn btn-primary" href="/">Retourner à l'accueil</a>
        </div>
        <div class="col col-6">
            <img class="w-75" src="../assets/images/style/pleure.jpg">
        </div>
    </section>
</main>

