<main class="content mt-5">
    <h2>Inscription</h2>
    <form class="w-50 mx-auto" action="register" method="post">
        <label class="form-label mt-3" for="lastName">Nom :</label>
        <input class="form-control" type="text" id="nom" name="nom">
        <label class="form-label mt-3" for="firstname">Prénom :</label>
        <input class="form-control" type="text" id="prenom" name="prenom">
        <label class="form-label mt-3" for="pseudo">Pseudo :</label>
        <input class="form-control" type="text" id="pseudo" name="pseudo">
        <label class="form-label mt-3" for="email">Adresse e-mail :</label>
        <input class="form-control" type="email" id="email" name="email">
        <label class="form-label mt-3" for="password">Mot de passe :</label>
        <input class="form-control" type="password" id="password" name="password">
        <input class="btn btn-dark mt-4" type="submit" value="S'inscrire">
    </form>
</main>